<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <camera>
    <camera speed ="1" offset ="10"/>
  </camera>

  <textures>
    <texture name ="tile_highlight"  level ="0" team ="0" source ="maps/tile_highlight.png"/>
    <texture name ="fog_tile"  level ="0" team ="0" source ="maps/Fog_tile.png"/>
    <!-- Structures -->
    <texture name ="townhall"    level ="1" team ="1" source ="textures/structures/ally_townhall.png"/>
    <texture name ="townhall"    level ="1" team ="2" source ="textures/structures/enemy_townhall.png"/>
    <texture name ="storage"     level ="1" team ="1" source ="textures/structures/storage.png"/>
    <texture name ="boathouse"   level ="1" team ="1" source ="textures/structures/boathouse.png"/>
    <texture name ="cons_big"    level ="0" team ="0" source ="textures/structures/cons_big.png"/>
    <texture name ="cons_medium" level ="0" team ="0" source ="textures/structures/cons_medium.png"/>
    <texture name ="cons_small"  level ="0" team ="0" source ="textures/structures/cons_small.png"/>
    <!-- Units -->
    <texture name ="boat"       level ="1" team ="1" source ="textures/units/pipo-boat_nosail.png"/>
    <texture name ="boat"       level ="2" team ="1" source ="textures/units/pipo-boat.png"/>
    <texture name ="boat"       level ="3" team ="1" source ="textures/units/pipo-ship.png"/>
    <texture name ="boat"       level ="1" team ="2" source ="textures/units/pipo-boat_nosail.png"/>
    <texture name ="boat"       level ="2" team ="2" source ="textures/units/pipo-boat_b.png"/>
    <texture name ="boat"       level ="3" team ="2" source ="textures/units/pipo-ship_b.png"/>
    <texture name ="harvester"  level ="1" team ="1" source ="textures/units/pipo-drilltank_b.png"/>
    <texture name ="harvester"  level ="2" team ="1" source ="textures/units/pipo-drilltank.png"/>
    <texture name ="harvester"  level ="1" team ="2" source ="textures/units/pipo-drilltank_c.png"/>
    <texture name ="balloon"    level ="1" team ="1" source ="textures/units/pipo-balloon.png"/>
    <texture name ="balloon"    level ="2" team ="1" source ="textures/units/pipo-airship2.png"/>
    <texture name ="balloon"    level ="1" team ="2" source ="textures/units/pipo-balloon_c.png"/>
    <texture name ="balloon"    level ="2" team ="2" source ="textures/units/pipo-airship2_b.png"/>
    <texture name ="carrier"    level ="1" team ="1" source ="textures/units/pipo-van.png"/>
    <texture name ="boat-shadow"      level ="0" team ="0" source ="textures/units/shadow/boat-shadow.png"/>
    <texture name ="harvester-shadow" level ="0" team ="0" source ="textures/units/shadow/drilltank-shadow.png"/>
    <texture name ="balloon-shadow"   level ="1" team ="0" source ="textures/units/shadow/balloon-shadow.png"/>
    <texture name ="balloon-shadow"   level ="2" team ="0" source ="textures/units/shadow/airship-shadow.png"/>
    <texture name ="carrier-shadow"   level ="0" team ="0" source ="textures/units/shadow/van-shadow.png"/>
    <!-- UI Icons Entities -->
    <texture name ="boat-icon"       level ="0" team ="0" source ="textures/ui/boat-image.png"/>
    <texture name ="harvester-icon"  level ="0" team ="0" source ="textures/ui/harvester.png"/>
    <texture name ="balloon-icon"    level ="0" team ="0" source ="textures/ui/balloon.png"/>
    <texture name ="carrier-icon"    level ="0" team ="0" source ="textures/ui/carrier.png"/>
    <texture name ="townhall-icon"   level ="0" team ="0" source ="textures/ui/townhall.png"/>
    <texture name ="storage-icon"    level ="0" team ="0" source ="textures/ui/storage.png"/>
    <texture name ="boathouse-icon"  level ="0" team ="0" source ="textures/ui/building-image.png"/>
    <texture name ="turret-icon"  level ="0" team ="0" source ="textures/ui/turret-icon.png"/>
    <!-- UI Icons -->
    <texture name ="automatic-icon"  level ="0" team ="0" source ="textures/ui/automatic.png"/>
    <texture name ="quest-icon"      level ="0" team ="0" source ="textures/ui/quest.png"/>
    <texture name ="lvlup-icon"      level ="0" team ="0" source ="textures/ui/lvlup.png"/>
    <!-- Minimap -->
    <texture name ="minimap"           level ="0" team ="0" source ="textures/minimap/minimap-2.png"/>
    <texture name ="minimap-noise"     level ="0" team ="0" source ="textures/minimap/minimap-noise.png"/>
    <texture name ="fog-chunk"         level ="0" team ="0" source ="textures/minimap/fog-chunk-tile.png"/>
    <texture name ="fog-sub-chunk"     level ="0" team ="0" source ="textures/minimap/fog-sub-chunk-tile.png"/>
    <texture name ="fog-sub-sub-chunk" level ="0" team ="0" source ="textures/minimap/fog-sub-sub-chunk-tile.png"/>
    <texture name ="fog-tile"          level ="0" team ="0" source ="textures/minimap/fog-tile.png"/>
    <texture name ="minimap-cam"       level ="0" team ="0" source ="textures/minimap/minimap_camera.png"/>
    <texture name ="dark-tiles"        level ="0" team ="0" source ="maps/dark_Terrain_tiles.png"/>
  </textures>
  
  <animations>
    <animation name ="tile_highlight"  coll="0" row="0" width="64" height="64" collumns="1" frames="1" speed="1" loop="false"/>
    <!-- Structures -->
    <animation name ="townhall"           coll="0" row="0" width="64"  height="62"  collumns="11" frames="11" speed="5" loop="true"/>
    <animation name ="ally_storage_empty" coll="0" row="0" width="64"  height="64"  collumns="4"  frames="1"  speed="1" loop="false"/>
    <animation name ="ally_storage_low"   coll="1" row="0" width="64"  height="64"  collumns="4"  frames="1"  speed="1" loop="false"/>
    <animation name ="ally_storage_half"  coll="2" row="0" width="64"  height="64"  collumns="4"  frames="1"  speed="1" loop="false"/>
    <animation name ="ally_storage_full"  coll="3" row="0" width="64"  height="64"  collumns="4"  frames="1"  speed="1" loop="false"/>
    <animation name ="boathouse"          coll="0" row="0" width="128" height="128" collumns="1"  frames="1"  speed="1" loop="false"/>
    <animation name ="cons_big"           coll="0" row="0" width="96"  height="64"  collumns="1"  frames="1"  speed="1" loop="false"/>
    <animation name ="cons_medium"        coll="0" row="0" width="128" height="128" collumns="1"  frames="1"  speed="1" loop="false"/>
    <animation name ="cons_small"         coll="0" row="0" width="64"  height="64"  collumns="1"  frames="1"  speed="1" loop="false"/>
    <!-- Units -->
    <animation name ="unit-south"       coll="0" row="0" width="32" height="32" collumns="6" frames="2" speed="2" loop="true"/>
    <animation name ="unit-south_west"  coll="3" row="0" width="32" height="32" collumns="6" frames="2" speed="2" loop="true"/>
    <animation name ="unit-west"        coll="0" row="1" width="32" height="32" collumns="6" frames="2" speed="2" loop="true"/>
    <animation name ="unit-south_east"  coll="3" row="1" width="32" height="32" collumns="6" frames="2" speed="2" loop="true"/>
    <animation name ="unit-east"        coll="0" row="2" width="32" height="32" collumns="6" frames="2" speed="2" loop="true"/>
    <animation name ="unit-north_west"  coll="3" row="2" width="32" height="32" collumns="6" frames="2" speed="2" loop="true"/>
    <animation name ="unit-north"       coll="0" row="3" width="32" height="32" collumns="6" frames="2" speed="2" loop="true"/>
    <animation name ="unit-north_east"  coll="3" row="3" width="32" height="32" collumns="6" frames="2" speed="2" loop="true"/>
    <!-- Minimap -->
    <animation name ="minimap"            coll="0" row="0" width="240" height="160" collumns="1" frames="1" speed="1" loop="false"/>
    <animation name ="fog-chunk"          coll="0" row="0" width="120" height="80"  collumns="1" frames="1" speed="1" loop="false"/>
    <animation name ="fog-sub-chunk"      coll="0" row="0" width="60"  height="40"  collumns="1" frames="1" speed="1" loop="false"/>
    <animation name ="fog-sub-sub-chunk"  coll="0" row="0" width="30"  height="20"  collumns="1" frames="1" speed="1" loop="false"/>
    <animation name ="fog-tile"           coll="0" row="0" width="18"   height="12"   collumns="1" frames="1" speed="1" loop="false"/>
    <animation name ="minimap-cam"        coll="0" row="0" width="6"   height="5"   collumns="1" frames="1" speed="1" loop="false"/>
  </animations>
</config>